.home{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.universe_container{
    height: 50vh;
    overflow: auto;
    box-sizing: border-box;
}

.universe_container > h3{
    color: #FFFFFF;
    opacity: 70%;
}