.Lampe-Scheinwerfer{
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

@media screen and (min-width: 600px){
    #mainframe{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3fr 2fr;
        font-size: 1.3rem;
    }
    
    tr {
        border: 1px, navy;
    }

    .rgb-slider {
        -webkit-appearance: none;
        width: 10%;
        height: 100%;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .rgb-slider:hover {
        opacity: 1;
    }
    
    .rgb-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #235789;
        cursor: pointer;
    }
    
    .rgb-slider::-moz-range-thumb {
        width: 100%;
        height: 20px;
        background: #235789;
        cursor: pointer;
        border-radius: 0px;
    }

    #scene{
        grid-row: 1;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;
    }

    #scene > div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        border: 3px solid #235789;
    }

    #scene > div > label.lr{
        font-size: 1em;
        align-self: flex-start;
    }

    #scene > div > input.rgb-slider{
        align-self: center;
    }

    #scene > :last-child{
        border: 3px solid #235789;
        display: grid;
        grid-row: 3;
        grid-column: 1/4;
        gap: .8em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #scene > :last-child > label{
        grid-row: 1;
        grid-column: 1;
        color: white;
        position: absolute;
        font-size: 1em;
        display: inline-block;
    }

    #scene > :last-child > label::after{
        content: ":";
    }
    #scene > :last-child > input{
        grid-row: 2;
        grid-column: 1;
        min-height: 1.8em;
    }
    #scene > :last-child > input:focus{
        border: #a02222 solid 3px;
    }

    #scenename + div{
        grid-row: 3;
        grid-column: 1;
    }

    .checkdiv{
        font-size: 1em;
        margin: 0em .8em;
    }

    #length {
        grid-row: 1;
        grid-column: 2;
    }

    #specials {
        grid-row: 2;
        grid-column: 2;
    }

    #unique{
        grid-row: 3;
        grid-column: 2;
    }

    .checkdiv > p {
        display: inline-block;
        font-size: .8vw;
    }

    #scene > :last-child > button{
        width: 100%;
    }

    img.aus{
        width: 5.25vw;
        height: auto;
    }

    #program-table{
        grid-row: 2;
        grid-column: 1/4;
    }
}


@media screen and (max-width: 600px){

    .rgb-slider{/*
        transform: rotate(270deg);
       -moz-transform: rotate(270deg);*/
       -webkit-appearance: slider-vertical;
       width: 20%;
       height: 100%;
       background: #d3d3d3;
       outline: none;
       opacity: 0.7;
       -webkit-transition: .2s;
       transition: opacity .2s;
    }

    #mainframe{
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow-y: auto;
    }
    #scene{
        flex-grow: 2;
        flex-basis: 60%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1vw;
    }

    #scene > :last-child{
        grid-column: 1/4;
        grid-row: 3;
        margin: 0vh .5vw;
        max-width: 98%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1vh;
        padding: 1vh;
        min-height: 14vh;
        overflow-y: visible;
    }

    #scene > div{
        border: 3px solid #235789;
        max-width: 31vw;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    #scene > div > label{
        align-self: flex-start;
    }

    #scene > div > input[type="range"]{
        align-self: center;
    }
    
    .lc{
        display: flex;
        justify-content: flex-start;
    }

    img.aus{
        position: relative;
        width: 45%;
        height: auto;
        left: 30%;
    }    

    img.an{
        width: 40.1%;
        height: auto;
        position: relative;
        left: 30%;
    }
    
    .rgb-slider{
        height: 15vh;
        width: 5vw;
        align-self: center;
    }
    #submit{
        width: 100%;
        height: 100%;
        font-size: 1.1em;
    }

    #mobile-submit{
        grid-row: 3;
        grid-column: 1;
    }

    #L1{
        visibility: hidden;
    }
    #L2{
        visibility: hidden;
    }
    #L3{
        visibility: hidden;
    }
    .checkdiv{
        display: none;
        border: none;
        font-size: 1vw;
        margin: 0vh 1vw 0vh 1vw;
        overflow-x: auto;
        width: 100%;
    }
    #scene > :last-child > label::after{
        content: ":";
    }

    #scene > :last-child > label{
        font-size: 1.4em;
    }

    #scene > :last-child > input{
        grid-row: 2;
        grid-column: 1;
        min-width: 5vw;
    }

    #length {
        font-size: 1em;
        grid-row: 1;
        grid-column: 2;
    }

    #specials {
        font-size: 1em;
        grid-row: 2;
        grid-column: 2;
    }
    #unique{
        font-size: 1em;
        grid-row: 3;
        grid-column: 2;
    }

    .checkdiv > p {
        display: inline-block;
        font-size: 0.4em;
        overflow-wrap: break-word;
        word-break: break-all;
    }

    #scene > :last-child > button{
        grid-row: 3;
        grid-column: 1;
        font-size: 1em;
    }

    #program-table{
        flex-grow: 1;
        flex-basis: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2vh;
    }
    .fa-trash{
        color: #a02222;
        font-size: 4em;
        align-self: flex-start;
        justify-self: auto;
        margin: 1vh 1vw;
        }

    .fa-trash:hover{
        color: #a54e4e;
        cursor: pointer;
    }

    .table-data{
        cursor: grab;
        font-size: 1.2em;
        height: 100%;
        width: 93%;
    }

    .table-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    
    #program-table{
        border: 3px solid #235789;
    }
    #scene-table{
        border-right: 3px dotted #235789;
        width: 80%;
        max-height: 25vh;
        overflow-y: auto;
    }

    #scene-table tr > td:hover{
        background-color: #444444;
    }
    #scene-table tr > td.selected-row{
        background-color: #3ec22c;
    }

    .fa-minus-square{
        color: #a02222;
        font-size: 1.5em;
    }

    .fa-undo{
        display: none;
        font-size: 1.1em;
        color: #3ec22c;
        position: relative;
        left: 70%;
        top: 5%;
    }
}