{% extends "index.html" %}

{% block nav_1 %}
    <div class="link-container desktop">
        <a href="/Programmiermodus/new">Neues Programm</a>
        <a href="/Programmiermodus/edit">Programm bearbeiten</a>
    </div>
    <button type="button" id="open_navbar" class="mobile"><i id="icon-open-navbar" class="fas fa-chevron-circle-up"></i></button>
{% endblock nav_1 %}

{% block nav_2 %}
    <div class="link-container mobile">
        <a href="/Programmiermodus/new">Neues Programm</a>
        <a href="/Programmiermodus/edit">Programm bearbeiten</a>
    </div>
{% endblock nav_2 %}

{% block content %}
    <div class="main">
        <div class="player-wrapper">
            <div class="player-nav">
                <div class="back-container">
                    <button id="backbutton">
                        <i class="fas fa-arrow-circle-left"></i>
                    </button>
                </div>
                <div class="header-container">
                    <span id="header-player">Programme</span>
                </div>
                <div class="next-container">
                    <button id="nextbutton">
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>

            <div class="player-container" id="player-main">
                <table class="program-tabelle">
                    <tbody class="program-wrapper" id="program-wrapper">
                        {% for program in programs %}
                            <tr class="program-row">
                                <td class="program-name" id={{ program.p_name }}>{{ program.p_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="stopbutton-container">
                    <button id='stop' type="button">Programm anhalten</button>
                </div>   
            </div>
        </div>

        <div class="timer-wrapper">
            <div class="scenetime-container">
                <label for="scenetime">Szenendauer</label>
                <input type="range" min=0 max=255 value="125" id='scenetime' orient="vertical">
            </div>
            
            <div class="fadetime-container">
                <label for="fadetime">Fadezeit<input type="checkbox" name="toggle-fadetime" id="toggle-fadetime"></label>
                <input type="range" min="0" max="100" value="30" id="fadetime" orient="vertical">
            </div>
        </div>
    </div>
{% endblock content%}

