{% extends "layout.html" %}
{% block content%}
<form method="POST" action="/savescene" id='scene'>
    <label for="L4" class="lc">Leiste 1</label>
    <input type="checkbox" id="L4" name="L4" value="True" class="Lampe-Leiste">
    <label for="L5" class="lc">Leiste 2</label>
    <input type="checkbox" id="L5" name="L5" value="True" class="Lampe-Leiste">
    <br>

    {% for i in range(1,9,1) %}
    <label for='r-{{ i }}'>Rot Segment {{ i }}</label>
    <input type="range" name="red-{{ i }}" id="r{{ i }}" class="Lrgb" min="0" max="255" value="0">
    <label for='g-{{ i }}'>Gruen Segment {{ i }}</label>
    <input type="range" name="green-{{ i }}" id="g{{ i }}" class="Lrgb" min="0" max="255" value="0">
    <label for='r-{{ i }}'>Blau Segment {{ i }}</label>
    <input type="range" name="blue-{{ i }}" id="b{{ i }}" class="Lrgb" min="0" max="255" value="0">
    <br>
    {% endfor %}
    
    <br>
    <label for="scenename">Szenenname</label>
    <input type="text" id='scenename' name='scenename'>
    
    <button type="submit" id='submit'>Szene speichern</button>    
</form>

<form action="/shutdown" method="POST">
    <button type="submit" name="shutdown">Herunterfahren</button>
</form>
{% endblock content %}
