{% extends "index.html" %}

    {% block nav_1 %}       
        <div class="universe-container desktop">
            <div class="universe-header">
                <h3 class="universe-name">Universum:</h3>
            </div>
            <ul class="universe-fixtures">
                {% for fixture in universe.fixtures %}
                    <div class="fixture-container" id="fixture-container-{{ fixture.name }}">
                        <li class="{{ fixture.fixture_class }}" id="{{ fixture.name }}">{{ fixture.name }}</li>
                        <i class="far fa-check-square selectall"></i>
                    </div>
                {% endfor %}
                <div class="add-fixture-container">
                    <li class="add-fixture lampen-typ">... <i class="fas fa-plus-circle"></i></li>
                </div>
            </ul>
        </div>
 
        <button type="button" id="open_navbar" class="mobile"><i id="icon-open-navbar" class="fas fa-chevron-circle-up"></i></button>
    {% endblock nav_1 %}
    
    {% block nav_2 %}
    <div class="dropdown-scene-container">
        <div class="dropdown-s">
            <button type="button" class="dropbtn s" id="scene-dropbutton">Szenen <i class="fas fa-chevron-down"></i></button>
            <div id="droptable-s" class="dropdown-content">
                <table>
                    <tr id="search-row">
                        <td class="dropdown-search" id="search-cell">
                            <input type="text" name="search-scene" id="search-scene">
                            <i class="fas fa-search"></i>
                        </td>
                    </tr>
                    {% for scene in scenes %}
                    <tr class="dropdown-row">
                        <td class="dropdown-data-s" id={{ scene.s_name }}> {{ scene.s_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <button type="button" id="addscene" class="hide glow-on-hover">Szene hinzufügen <i class="fas fa-plus-circle"></i></button>
    </div>
    {% endblock nav_2 %}
    
    {% block nav_3 %}
    <div class="shutdown-container desktop">
        <form action="/shutdown" method="POST">
            <button type="submit" class="shutdown" name="shutdown">Herunterfahren <i class="fas fa-power-off"></i></button>
        </form>
    </div>

    <div class="universe-container mobile">
        <div class="universe-header">
            <h3 class="universe-name">Universum:</h3>
        </div>
        <ul class="universe-fixtures">
            {% for fixture in universe.fixtures %}
                <div class="fixture-container" id="fixture-container-{{ fixture.name }}">
                    <li class="{{ fixture.fixture_class }}" id="{{ fixture.name }}">{{ fixture.name }}</li>
                    <i class="far fa-check-square selectall"></i>
                </div>
            {% endfor %}
            <div class="add-fixture-container">
                <li class="add-fixture">... <i class="fas fa-plus-circle"></i></li>
            </div>
        </ul>
    </div>
    {% endblock nav_3 %}

    {% block content %}
        <div class="main" id="mainframe"></div>
    {% endblock content %}