{% extends "layout.html" %}

{% block content %}
    <div class="sidenav">
        <form id="saveprogram" method="POST" action="/saveprogram">
        <label for="p_name" class="radio-lampen">Programmname: </label>
        <input type="text" id="p_name" name="p_name">
        <input type="submit" value="Programm speichern" id="submitprogram">
        </form>
        
        <label for="Scheinwerfer" class='radio-lampen'>Scheinwerfer</label>
        <input type="radio" id="Scheinwerfer" name="Lampen" value="True" class="Lampen-typ"> 
        <label for="Leisten" class='radio-lampen'>LED-Leisten</label>
        <input type="radio" id="Leisten" name="Lampen" value="True" class="Lampen-typ">
        <label for="Schwarzlicht" class='radio-lampen'>Schwarzlicht</label>
        <input type="radio" id="Schwarzlicht" name="Lampen" value="True" class="Lampen-typ">
        <br>
        <a href="/Abspielmodus">Zum Abspielmodus</a>
        <br>
        <div class="dropdown">
            <button type="button" onclick="showdropdown()" class="dropbtn">Szenen</button>
            <div id="droptable" class="dropdown-content">
                <table>
                    {% for scene in scenes %}
                    <tr class="dropdown-row">
                        <td class="dropdown-data" id={{ scene.s_name }}> {{ scene.s_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <button type="button" id="addscene">Szene hinzufuegen</button>
    </div>
    <iframe class="main" id="mainframe">
        Benutze einen anderen Browser du Depp
    </iframe>
    
{% endblock content %}