<form method="POST" action="/savescene" id='scene'>
    <div>
        <label for="r" class="lr">Rot</label>
        <input type="range" name="red" id="r-slider" class="rgb-slider" min="0" max="255" value="0" orient="vertical">
    </div>

    <div>
        <label for="g" class="lr">Gruen</label>
        <input type="range" name="green" id="g-slider" class="rgb-slider" min="0" max="255" value="0" orient="vertical">
    </div>

    <div>
        <label for="b" class="lr">Blau</label>
        <input type="range" name="blue" id="b-slider" class="rgb-slider" min="0" max="255" value="0" orient="vertical">
    </div>
    
    <div>
        <label for="weiss" class="lr">Weiß</label>
        <input type="range" name="white" id="weiss-slider" class="rgb-slider" min="0" max="255" value="0" orient="vertical">
    </div>

    <div>
        <label for="dim" class="lr">Helligkeit</label>
        <input type="range" name="dimmer" id="dim-slider" class="rgb-slider" min="0" max="255" value="128" orient="vertical">
    </div>

    <div>
        <label for="strobo" class="lr">Strobo</label>
        <input type="range" name="strobe" id="strobo-slider" class="rgb-slider" min="0" max="255" value="0" orient="vertical">
    </div>    
    
    <div>
        <label for="scenename">Szenenname</label>
        <input type="text" id='scenename' name='scenename' autocomplete="off">

        <div class="gradient-border" id="mobile-submit">
            <button class="glow-on-hover" type="submit" id='submit'>Szene speichern <i class="far fa-save"></i></button>
        </div>

        <div class="checkdiv" id="length">
            <i class="far fa-times-circle"></i>
            <p>Szenenname muss mindestens 3 Zeichen beinhalten</p>
        </div>
        <div class="checkdiv" id="specials">
            <i class="far fa-times-circle"></i>
            <p>Sonderzeichen (außer "_") sind nicht erlaubt</p>
        </div>
        <div class="checkdiv" id="unique">
            <i class="far fa-check-circle"></i>
            <p>Szenenname ist einzigartig</p>
        </div>
    </div>
</form>


<div id="program-table">
    <table id="scene-table">
        {% if program %}
        <tr>
            <th class="table-header">{{ program }}</th>
        </tr>
        {% else %}
        <tr>
            <th class="table-header">Programmszenen</th>
        </tr>
        {% endif %}
        {% for scene in scenes %}
            <tr class="table-row">
                <td id={{ scene }} class="table-data" draggable="true">{{ scene }}</td>
                <td class="mobile"><i class="fas fa-minus-square mobile"></i></td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <i class="fas fa-undo"></i>
        <i class="fas fa-trash"></i>
    </div>
</div>

{% for script in scripts %}
<script type="text/javascript" src={{ script }}></script>
{% endfor %}

{% for style in styles %}
<link rel="stylesheet" href={{ style }}>
{% endfor %}
