{% extends "layout.html" %}
{% block content%}
<form method="POST" action="/savescene" id='scene'>
    <label for="L1" class="lc">Scheinwerfer 1</label>
    <input type="checkbox" id="L1" name="L1" value="True" class="Lampe Scheinwerfer">
    <label for="L2" class="lc">Scheinwerfer 2</label>
    <input type="checkbox" id="L2" name="L2" value="True" class="Lampe Scheinwerfer">
    <label for="L3" class="lc">Scheinwerfer 3</label>
    <input type="checkbox" id="L3" name="L3" value="True" class="Lampe Scheinwerfer">
    <br>

    <label for="r" class="lr">Rot</label>
    <input type="range" name="red" id="r" class="rgb" min="0" max="255" value="0">
    <label for="g" class="lr">Gruen</label>
    <input type="range" name="green" id="g" class="rgb" min="0" max="255" value="0">
    <label for="b" class="lr">Blau</label>
    <input type="range" name="blue" id="b" class="rgb" min="0" max="255" value="0">
    <br>
    <label for="weiss" class="lr">Warmweiss/Kaltweiss</label>
    <input type="range" name="white" id="weiss" class="rgb" min="0" max="255" value="0">
    <label for="dim" class="lr">Helligkeit</label>
    <input type="range" name="dimmer" id="dim" class="rgb" min="0" max="255" value="255">
    <label for="strobo" class="lr">Strobo</label>
    <input type="range" name="strobe" id="strobo" class="rgb" min="0" max="255" value="0">
    
    <br>
    <label for="scenename">Szenenname</label>
    <input type="text" id='scenename' name='scenename'>
    
    <button type="submit" id='submit'>Szene speichern</button>
</form>

<form action="/shutdown" method="POST">
    <button type="submit" name="shutdown">Herunterfahren</button>
</form>
<br>
<div id="program-table" class="dropdown">
    <table id="scene-table">
        {% if program %}
        <tr>
            <th class="table-header">{{ program }}</th>
        </tr>
        {% else %}
        <tr>
            <th class="table-header">Programmszenen</th>
        </tr>
        {% endif %}
        {% for scene in scenes %}
            <tr class="table-row">
                <td id={{ scene }} class="table-data">{{ scene }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}


<script type="text/javascript" src="../static/scheinwerfer.js"></script>

