<form method="POST" action="/savescene" id='scene'>

    <div>
        <label for="dim">Helligkeit</label>
        <input type="range" id='dim' name='dimmer' class='uv' value="0" min="0" max="255" orient="vertical">
    </div>

    <div>
        <label for="strobe">Strobo</label>
        <input type="range" id='strobe' name='strobe' class='uv' value="0" min="0" max="255" orient="vertical">
    </div>

    <div>
        <label for="dur">Strobo dauer</label>
        <input type="range" id='dur' name='strobe_dur' class='uv' value="0" min="0" max="255" orient="vertical">
    </div>

    <div>
        <label for="scenename">Szenenname</label>
        <input type="text" id='scenename' name='scenename' autocomplete="off">

        <div class="gradient-border" id="mobile-submit">
            <button class="glow-on-hover" type="submit" id='submit'>Szene speichern <i class="far fa-save"></i></button>
        </div>

        <div class="checkdiv" id="length">
            <i class="far fa-times-circle"></i>
            <p>Szenenname muss mindestens 3 Zeichen beinhalten</p>
        </div>
        <div class="checkdiv" id="specials">
            <i class="far fa-times-circle"></i>
            <p>Sonderzeichen (außer "_") sind nicht erlaubt</p>
        </div>
        <div class="checkdiv" id="unique">
            <i class="far fa-check-circle"></i>
            <p>Szenenname ist einzigartig</p>
        </div>
    
    </div>

</form>

<div id="program-table">
    <table id="scene-table">
        {% if program %}
        <tr>
            <th class="table-header">{{ program }}</th>
        </tr>
        {% else %}
        <tr>
            <th class="table-header">Programmszenen</th>
        </tr>
        {% endif %}
        {% for scene in scenes %}
            <tr class="table-row">
                <td id={{ scene }} class="table-data" draggable="true">{{ scene }}</td>
                <td class="mobile"><i class="fas fa-minus-square mobile"></i></td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <i class="fas fa-undo"></i>
        <i class="fas fa-trash"></i>
    </div>
</div>


{% for script in scripts %}
<script type="text/javascript" src={{ script }}></script>
{% endfor %}

{% for style in styles %}
<link rel="stylesheet" href={{ style }}>
{% endfor %}