.footer_wrapper{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: .5em .5em 0em .5em;
    box-sizing: border-box;
    background-color: #121418;
    opacity: 90%;
    height: 4rem;
}

.footer_wrapper > a{
    width: 20%;
    color: white;
}

.icon{
    align-self: center;
}

.icon_link{
    font-size: 2rem;
    opacity: 10%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.link_name{
    align-self: center;
    font-size: .7rem;
    font-weight: bold;
}

.active{
    opacity: 100%;
}