.sidenav {
    height : 100%;
    width : 250px;
    position : fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.radio-lampen {
    color: white;
    display: block;
}
.radio-lampen:after {
    content: ": ";
}
input[type=radio] {
    display: inline-block
}
.main {
    margin-left: 250px;
    width: 87%;
    height: 100%;
}

html { 
    height: 100vh;
}

body {
    height: 98vh;
}