{% extends "layout.html" %}

{% block content %}
    <div class="sidenav">
        <form>
            <label for="Scheinwerfer" class='radio-lampen'>Scheinwerfer</label>
            <input type="radio" id="Scheinwerfer" name="Lampen" value="True" class="Lampen-typ"> 
            <label for="Leisten" class='radio-lampen'>LED-Leisten</label>
            <input type="radio" id="Leisten" name="Lampen" value="True" class="Lampen-typ">
            <label for="Schwarzlicht" class='radio-lampen'>Schwarzlicht</label>
            <input type="radio" id="Schwarzlicht" name="Lampen" value="True" class="Lampen-typ">
        </form>
        <a href="/Abspielmodus">Zum Abspielmodus</a>
    </div>
    <iframe class="main" id="mainframe">
        Penis
    </iframe>
{% endblock content %}