{% extends "layout.html" %}
{% block content %}
<form method="POST" action="/savescene" id='scene'>
    <label for="dim">Helligkeit</label>
    <input type="range" id='dim' name='dimmer' class='uv' value="0" min="0" max="255">
    <label for="strobe">Strobo</label>
    <input type="range" id='strobe' name='strobe' class='uv' value="0" min="0" max="255">
    <label for="dur">Strobo dauer</label>
    <input type="range" id='dur' name='strobe_dur' class='uv' value="0" min="0" max="255">
    <br>
    <label for="scenename">Szenenname</label>
    <input type="text" id='scenename' name='scenename'>

    <button type="submit" id='submit'>Szene speichern</button>    
</form>

<form action="/shutdown" method="POST">
    <button type="submit" name="shutdown">Herunterfahren</button>
</form>

{% endblock content %}