.channel{
    width: 100%;
    border: 1px #FFF solid;
    justify-self: center;
    text-align: center;
    box-sizing: border-box;
    padding: .7rem .5rem .7rem .5rem;
}

.universe{
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    row-gap: 0rem;
    column-gap: 0rem;
    width: 100%;
    box-sizing: border-box;
}

.active{

}